<div class="background-grey">

<div class="container my-3">
  <div class="cards row">
    <div class="col-md-12 col-lg-6 my-2 mx-auto">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? == true %>
        <div class="card-index background-white">
          <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 100, width: 150, crop: :fill %>')">
            <span class="title-spaced"><%= cocktail.name %></span>
          </div>
          <div class="pt-2">
            <%= link_to "composition", cocktail_path(cocktail), class: "btn btn-ghost m-2"  %>
            <%= link_to "delete", cocktail_path(cocktail), method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-ghost" %>
          </div>
          </div>
        <% end %>
      <% end %>
  </div>
  </div>
</div>
</div>

<%#= link_to "add a cocktail", new_cocktail_path, class: "btn btn-ghost" %>

