<div class="footer">
  <div class="footer-links">
    <%= link_to "", cocktails_path, class: "fab fa-github" %>
    <%= link_to "", cocktails_path, class: "fab fa-instagram" %>
    <%= link_to "", cocktails_path, class: "fab fa-facebook" %>
    <%= link_to "", cocktails_path, class: "fab fa-linkedin" %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Mag
  </div>
</div>
